body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: left;
    margin: 50px;
}

h1 {
    color: #333;
}

.box {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    color: #000;
}
